{% for item in items %}
  <div class="cats-item">
    <div class="cats-img-container">
      <a class="cats-img-link" href="{{ item.cat_photo }}">
        <img class="cats-photo" src="{{ item.cat_photo }}" alt="photo cat">
      </a>
    </div>
    <div class="cats-name">{% trans %}Cat`s name:{% endtrans %} <span data-itemId="{{ item.id }}" class="cats-name-value">{{ item.cat_name }}</span></div>
    <div class="cats-email" data-itemId="{{ item.id }}">{% trans %}Email:{% endtrans %}
      <a data-itemId="{{ item.id }}" href="{{ item.email }}" class="cats-email-link">{{ item.email }}</a>
    </div>
    {% if user.hasPermission('Delete and edit cats') %}
      <div class="cats-editor">
        <button class="cats-edit" data-itemId="{{ item.id }}">EDIT</button>
        <button class="cats-delete" data-itemId="{{ item.id }}">DELETE</button>
      </div>
    {% endif %}
    <div class="cats-timestamp">{{ item.timestamp }}</div>
  </div>
{% endfor %}
